*{
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;
}
.nav{
    background-color:#8ECDF7 ;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 25px 25px;
    text-align: center;
}
.nav a:hover{
    background-color: rgb(255, 255, 255);
}
.nav img {
    
    width: 80px;
    height: 80px;
    border-radius: 100px;
    padding: 10px;
}


/* .. home ..*/
.home {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 20px;
}
h1{
    font-family: jaini;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.0;
    text-align: center;    
    text-decoration: underline;
}
.home h2{
    color: black;
    font-weight: bold;
    font-size: 2.0rem;
}
.home p{
    text-align: justify;
    line-height: 2.0;
}

.special{
    font-style: italic;
}
.home a{
    color: blue;
    text-decoration: underline;
}

.image1{
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-end;  
    gap: 150px;
    margin-right: 30px;

}
.image1 p{
    border: 1px;
    width: 200px;
    align-content: center;
}
.image1 img{
    width: 600px;
    align-items: center;
}

.image2{
    display: flex;
    gap: 150px;
    
}
.image2 p{
    width: 200px;
    align-content:center ;
}
.image2 img{
    width: 3.0x;
}

.read1{
    display: flex;
    justify-content: end;
}
.read1 img{
    width: 500px;
}
.read1 p{
    justify-content: center;
    padding: 40px;
}


/*footer*/

.foot{
    background-color: #8ECDF7;
    overflow: hidden;
    display: flex;
    margin-top:auto ;
    justify-content: space-around;
    padding: 20px 0;
    
    
}
.foot ul{
    list-style: none;
    padding-left: 0.5rem;   /*move all items to the right*/
}
.foot li, a{
    color: black;
    text-decoration: none;
    text-align: justify;
}
.bold{
    font-weight: bold;
    font-size: 20px;
    text-align: end;
    margin-left: -0.5rem;   /*only the header pulled back to the left*/

}
.foot a:hover{
    background-color: rgb(255, 255, 255);
}